<%inherit file="/base.html" />

<%def name="title()">${parent.title()} - Profile</%def>
<%def name="head_title()">Profile</%def>


<h1>Welcome to the Syriac Reference Portal!</h1>

<p>Thank you, ${c.user.fullname}, for registering with the Syriac Reference
Portal! In the upcoming months, we plan to notify users of new document analysis
and bibliography management tools, powered by the underlying machine
representation.</p>

<img src="/images/newimg.jpg" alt="Main Image" width="952" height="300" class="img_main">
